{{input type="text" id="new-todo" placeholder="What needs to be done?"
    value=newTitle action="createTodo"}}

<section id="main">
  <ul id="todo-list">

    {{!--
    the #each syntax is getting an overhaul on the path to 2.0
    the line below in the past would typically look like this:
    {{#each todo in model}}

    Sidenote: The key value is important because it tells Ember if the collection
    being iterated over has changed between renders. DOM elements are able to be
    reused automatically which significantly improves render speed.

    If no unique ID is available on the collection, "@index" can be used
    --}}

    {{#each model key="title" as |todo|}}
      {{todo-item action="acceptChanges" deleteTodo="deleteTodo"todo=todo}}
    {{/each}}
  </ul>

  <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">
  <span id="todo-count">
    <strong>2</strong> todos left
  </span>
  <ul id="filters">
    <li>
      <a href="all" class="selected">All</a>
    </li>
    <li>
      <a href="active">Active</a>
    </li>
    <li>
      <a href="completed">Completed</a>
    </li>
  </ul>

  <button id="clear-completed">
    Clear completed (1)
  </button>
</footer>
